body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(51, 51, 51);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.form-container, .applications-container {
    width: 45%;
}

.form-container {
    background-color: #f9f9f9;
    padding: 1rem;
    margin-right: 2rem;
}

.applications-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: rgb(0, 1, 26);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 1, 80);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#logout-btn {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    background-color: #f7c3ba;
    border: none;
    color: rgb(17, 17, 17);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #f08e83;
}
